<h1>New list</h1>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create List" %>
  </div>
<% end %>

<br>
<div>
  <%= link_to "Back to lists", lists_path %>
</div>
