<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Comment:</strong>
    <%= bookmark.comment %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= bookmark.movie_id %>
  </p>

  <p>
    <strong>Lists:</strong>
    <%= bookmark.lists_id %>
  </p>

</div>
